body {
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    gap: 30px;
}

a {
    color: red;
    text-decoration: none;
}

h1 {
    color: brown;
}

h2 {
    color: rgb(131, 219, 239);
}

.btn {
    color: white;
    background-color: brown;
    border-radius: 7px;
    height: 30px;
    border: none;
}

.btn:hover {
    background-color: red;
}
